<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="MyConnection" connectionString="Data Source=DESKTOP-OLD2TKG\SQLEXPRESS;Initial Catalog=QUANLYVEXE;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="_16CK2_LTUDQL1__11_.Properties.Settings.QUANLYVEXEConnectionString"
      connectionString="Data Source=DESKTOP-OLD2TKG\SQLEXPRESS;Initial Catalog=QUANLYVEXE;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>